.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center !important;
    flex-direction: column;
    padding:0rem 2rem ;
}
.text{
    color:var(--secondary-color);
    font-size: 40px;
}
.button{
    color:white;
    background-color: var(--secondary-color);
    font-size: large;
    padding:0.5rem 1rem;
    border-radius: 5%;
    border: none;
}
